---
layout: default
title: TextExerciser
ic: 4
---

	<div class="home-item" id="down">	
		{% for post in site.posts %}
		{% if post.pidd == 9 %}
		<span>{{ post.excerpt | markdownify }}<span>
		{% endif %}
		{% endfor %}	
		{% for post in site.posts %}
		{% if post.pidd == 11 %}
		<span>{{ post.excerpt | markdownify }}<span>
		{% endif %}
		{% endfor %}
		{% for post in site.posts %}
		{% if post.pidd == 12 %}
		<span id="down-con">{{ post.excerpt | markdownify }}<span>
		{% endif %}
		{% endfor %}		
	</div>
